{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Admin dashboard</h1>

    <h2>Appointments: </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Master</th>
                <th scope="col">Comment</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <th scope="row">{{ appointment.date|date("F jS \\a\\t g:ia") }}</th>
                    <td>{{ appointment.customer }}</td>
                    <td>{{ appointment.master }}</td>
                    <td>{{ appointment.comment }}</td>
                    <td>
                        {% if appointment.isConfirmed %}
                            <span class="badge badge-success">{{ appointment.status }}</span>
                        {% elseif appointment.isUnconfirmed %}
                            <span class="badge badge-secondary">{{ appointment.status }}</span>
                        {% elseif appointment.isCancelled %}
                            <span class="badge badge-danger">{{ appointment.status }}</span>
                        {% else %}
                            <span class="badge badge-dark">{{ appointment.status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if not appointment.isCancelled and not appointment.isCompleted %}
                            <a class="btn btn-danger btn-sm"
                               href="{{ path('app_appointment_cancel', {id: appointment.id}) }}"
                            >
                                Cancel
                            </a>
                        {% endif %}
                        {% if appointment.isUnconfirmed %}
                            <a class="btn btn-success btn-sm"
                               href="{{ path('app_admin_appointment_confirm', {id: appointment.id}) }}"
                            >
                                Confirm
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5">Appointments for the last week: </h2>
    <canvas id="line-chart" width="800" height="450" style="max-height: 450px;"></canvas>
    <script>
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [{% for date, value in appointments_by_date %}'{{ date }}',{% endfor %}],
                datasets: [{
                    data: [{% for date, value in appointments_by_date %}{{ value }},{% endfor %}],
                    label: "Appointments",
                    borderColor: "#3e95cd",
                    fill: false
                },
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Appointments per day for the last week'
                }
            }
        });

    </script>
{% endblock %}
