{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Manage users</h1>

    <h2>Users: </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">IsMaster</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.isMaster ? 'yes' : 'no' }}</td>
                    <td>
                        {% if not user.isMaster %}
                            <a class="btn btn-warning btn-sm" href="{{ path('app_admin_make_master', {id: user.id}) }}">
                                Make master
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
